@media (max-width: 1200px) {
    body {
    background-color: #f44336;
    }

    .bg_video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .mario {
        max-width: 50%;
    }

    .container .info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .description {
        color: aliceblue;
        text-align: center;
    }

    .container .trailer_button {
        background-color: #d4e5ed;
    }
}

@media (max-width: 500px) {
    .header {
        flex-wrap:  wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .image_title {
        max-width: 75%;
    }

    .modal .close_modal {
        width: 30px;
        line-height: 169px;
    }

    .modal #video {
        width: 300px;
        height: 169px;
    }
}

@media (max-width: 376ps) {
    .modal #video {
        width: 250px;
        height: 140ps;
    }

}